/* The styles used here are adapted from the GitHub markdown-body styles. */

/* Top bar */

.github #tm_webpreview_header {
  color: #555;
}

.github #tm_webpreview_header #gradient {
  height: 41px;
}

.github #tm_webpreview_header #theme_switcher {
  font-size: 13px;
  top: 8px;
  right: 14px;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.github #tm_webpreview_header .headline {
  color: #555;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 14px 4px;
  padding: 3px;
  text-shadow: 0 1px 0 #fff;
}

.github #tm_webpreview_header .type {
  display: none;
}

.github #tm_webpreview_header #teaser {
  display: none;
}

.github #tm_webpreview_content {
  margin-top: 3em;
  padding: 30px;
}

/* Common styles */

.github .pro_table {
  border-top: 1px solid #919699;
  border-left: 1px solid #919699;
}
.github .pro_table th {
  background: #e5e5e5;
  border-bottom: 1px solid #919699;
  border-right: 1px solid #919699;
}
.github .pro_table td {
  border-bottom: 1px solid #919699;
  border-right: 1px solid #919699;
}
.github .footnote {
  color: #525151;
}
.github .footnote:before {
  color: #525151;
}
.github .footnote:after {
  color: #525151;
}
.github div.footnotes {
   background: #f8f8f8;
}

.github .alternate {
  background-color: #f8f8f8;
}

/* Basics */

.github {
  color: #333;
  font: 15px Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.7;
}

.github a {
  color: #4183c4;
  text-decoration: none;
}

.github a:hover,
.github a:focus {
  text-decoration: underline;
}

.github h1,
.github h2,
.github h3,
.github h4,
.github h5,
.github h6 {
  margin: 1em 0 15px;
  padding: 0;
  font-weight: bold;
  line-height: 1.7;
}

.github h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
}

.github h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}

.github h3 {
  font-size: 1.5em;
}
.github h4 {
  font-size: 1.2em;
}

.github h5 {
  font-size: 1em;
}

.github h6 {
  font-size: 1em;
  color: #777;
}

.github h1 tt,
.github h1 code,
.github h2 tt,
.github h2 code,
.github h3 tt,
.github h3 code,
.github h4 tt,
.github h4 code,
.github h5 tt,
.github h5 code,
.github h6 tt,
.github h6 code {
  font-size: inherit;
}

.github p,
.github blockquote,
.github ul,
.github ol,
.github dl,
.github table,
.github pre {
  margin: 15px 0;
}

.github > h1:first-child,
.github > h2:first-child,
.github > h3:first-child,
.github > h4:first-child,
.github > h5:first-child,
.github > h6:first-child,
.github > base + * {
  margin-top: 0;
  padding-top: 0;
}

.github h1 + p,
.github h2 + p,
.github h3 + p,
.github h4 + p,
.github h5 + p,
.github h6 + p {
  margin-top: 0;
}

.github blockquote {
  border-left: 4px solid #ddd;
  padding: 0 15px;
  color: #777;
}

.github blockquote > :first-child {
  margin-top: 0;
}

.github blockquote > :last-child {
  margin-bottom: 0;
}

.github hr {
  background: transparent url('images/dirty-shade.png') repeat-x 0 0;
  border: 0 none;
  color: #ccc;
  height: 4px;
  padding: 0;
}

/* Images */

.github img {
  max-width: 100%;
}

/* Lists */

.github li p.first {
  display: inline-block;
}

.github ul,
.github ol {
  padding-left: 30px;
}

.github ul ul,
.github ul ol,
.github ol ol,
.github ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.github dl {
  padding: 0;
}

.github dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.github dl dt:first-child {
  padding: 0;
}

.github dl dt > :first-child {
  margin-top: 0;
}

.github dl dt > :last-child {
  margin-bottom: 0;
}

.github dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.github dl dd > :first-child {
  margin-top: 0;
}

.github dl dd > :last-child {
  margin-bottom: 0;
}

/* Tables */

.github table {
  padding: 0;
}

.github table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.github table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.github table tr th {
  font-weight: bold;
}

.github table tr th,.github table tr td {
  border: 1px solid #ccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.github table tr th > :first-child,
.github table tr td > :first-child {
  margin-top: 0;
}

.github table tr th > :last-child,
.github table tr td > :last-child {
  margin-bottom: 0;
}

/* Helpers */

.github span.frame {
  display: block;
  overflow: hidden;
}

.github span.frame > span {
  border: 1px solid #ddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.github span.frame span img {
  display: block;
  float: left;
}

.github span.frame span span {
  clear: both;
  color: #333;
  display: block;
  padding: 5px 0 0;
}

.github span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.github span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.github span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.github span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.github span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.github span.align-right span img {
  margin: 0;
  text-align: right;
}

.github span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.github span.float-left span {
  margin: 13px 0 0;
}

.github span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.github span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

/* Code */

.github code,
.github tt,
.github pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}

.github code,
.github tt {
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.github code {
  white-space: nowrap;
}

.github pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.github .highlight pre,
.github pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}

.github pre code,
.github pre tt {
  background-color: transparent;
  border: none;
}
